<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>

        <script src="../js/bootstrap/jquery.js"></script>
        <script src="../js/angular/angular.min.js"></script>
        <script src="../js/angular/angular-messages.js"></script>
        <script src="../js/angular/angular-resource.min.js"></script>
        <script src="../js/angular/angular-route.min.js"></script>
        <script src="../js/bootstrap/bootstrap.min.js"></script>

        <link href="../css/forms.css" rel="stylesheet" />      
        <script src="../js/custom/PublicModule.js"></script> 

        <title>Восстановление пароля</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body ng-app="publicModule" ng-controller="RestorePasswordController">
        <div class="container">
            <h1>Восстановление пароля</h1>
            <hr>
            <p ng-if="data.error" style="color:red; font-size: 20px">{{data.message}}</p>
            <p ng-if="!data.error && data.message" style="color:green; font-size: 20px">{{data.message}}</p>

            <label for="inputLogin"><b>Логин</b></label>
            <input id="inputLogin" type="text"  ng-model="login" required autofocus/>

            <hr>

            <button ng-click="restorePassword()" class="registerbtn">Восстановить</button>
        </div>

        <div class="container signin">
            <a class="nav_text" href="/">На главную</a>
        </div>
    </body>
</html>
